/* ================== navbar styling ==================== */
#navbar{
    background-color: rgba(0,0,0,1);
    position: fixed;
    width: 100%;
    height: 70px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 20px;
    align-items: stretch;
    padding: 0 20px;

}

/* ================== navLeft styling ==================== */
#navLeft{
    background-color: transparent;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: start;
    gap: 40px;
    align-items: stretch;
}

/* ================== Logo styling ==================== */
#navLogo{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 5px;
    align-items: center;
    cursor: default;
}

#logoIcon{
    background-color: var(--white);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

#logoIcon{
    font-family: var(--logo-font);
    font-weight: 500;
    padding: 0 5px;
    border: none;
    border-radius: 5px;
    color: rgba(0,0,0,0.7);
}
#navLogo #name{
    font-family: var(--heading-font);
    font-weight: 500;
    letter-spacing: -1px;
    color: var(--white);
    font-size: 17px;
}

/* ================== NavMenu styling ==================== */
#navMenu{
    display: flex;
    justify-content: center;
    align-items: center;
}

#navLinks{
    align-self: stretch;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: start;
    align-items: center;
    list-style: none;
    gap: 20px;
    padding: 0;
}


#navLinks li{
    align-self: stretch;
    background-color: transparent;
    display: flex;
    position: relative;
    cursor: pointer;
}

#navLinks li::after{
    content: '';
    position: absolute;
    bottom: -16px;
    height: 5%;
    width: 0;
    right: 50%;
    transform: translateX(50%); /* centering the element */
    border: none;
    border-radius: 20px;
    background-color: var(--lime);
    transform-origin: center;
    transition: all ease-in-out 0.3s;
}

#navLinks li:hover::after{
    width: 110%;
}

#navLinks li a{
    align-self: center;
    font-family: var(--text-font);
    font-size: 15px;
    font-weight: 400;
    text-decoration: none;
    color: rgba(255,255,255,0.6);
    transition: all ease-in-out 0.3s;
}

#navLinks li a:hover{
    color: var(--white);
}

/* ================== navRight styling ==================== */
#navRight{
    background-color: transparent;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: end;
    flex-shrink: 0;
    align-items: center;

}

/* ================== NavButton styling ==================== */
.primary-btn{
    font-family: var(--text-font);
    font-size: 16px;
    padding: 16px 24px;
    border: none;
    border-radius: 12px;
    color: var(--black);
    background-color: var(--lime);
    cursor: pointer;
    transition: all ease-in-out 0.3s;
}

.primary-btn:hover{
    background-color: var(--hover-lime);
}

.primary-btn:focus{
    outline: 1px solid var(--lime);
    outline-offset: 2px;
}

/* ================== MenuIcons styling ==================== */
#navRight img{
    margin-left: 5px;
    transition: all ease-in-out 0.3s;
    cursor: pointer;
}

#navRight img:hover{
    transform: scale(1.1);
}

#menu-icon{
    display: none;
}

#cross-icon{
    display: none;
}

/* ================== sideBar styling ==================== */
#sideBar{
    background-color: rgba(0,0,0,1);
    position: fixed;
    margin-top: -1px;
    right: 0;
    padding: 40px 40px 40px 0;
    width: 100%;
    height: calc(100vh - 70px);
    z-index: 999;
    display: none;
}

#sideBar #sideBarLinks{
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    height: fit-content;
    gap: 5px;
    padding: none;
}
#sideBar #sideBarLinks li{
    gap: 10px;
    background-color: transparent;
    margin: 0;
    display: flex;
    align-items: center;
    position: relative;
    padding: 20px 0 20px 20px;
    border-bottom: 0.1px solid rgba(200,200,200,0.5);
    border-radius: 0px;
    list-style: none;

}

#sideBar #sideBarLinks li a{
    padding: none;
    font-family: var(--heading-font);
    font-weight: 400;
    font-size: 15px;
    text-decoration: none;
    color: rgba(200,200,215,0.8);
    transition: all ease-in-out 0.3s;
}


/* ================== projects dropdown==================== */
#projects-dropdown{
    background-color: var(--white);
    position: absolute;
    z-index: 999;
    top: 71px;
    width: 95%;
    left: 50%;
    transform: translateX(-50%);
    padding: 40px;
    border: none;
    border-radius: 18px;
    display: none;
    flex-direction: row;
    flex-wrap: no-wrap;
    gap: 80px;
    transition: all ease-in-out 0.1s;

}


/* ===== projects left div ===== */
#projects-left-div{
    background-color: transparent;
    height: 250px;
    flex: 2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;

}

.title-div{
    background-color: transparent;
    padding: 0 5px;
}
.title-div h2{
    font-family: var(--heading-font);
    font-size: 16px;
    font-weight: 300;
    color: rgba(0,0,0,0.5);

}

.content{
    border: none;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-items: start;
    transition: all ease-in-out 0.3s;
    cursor: pointer;
    padding: 0 5px;
}
.content:hover{
    background-color: rgba(179, 270, 80, 0.2);
}

.content .heading-div{
    background-color: transparent;
    display: flex;
    gap: 10px;
    justify-content: start;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 20px;
    margin-bottom: 5px;
}
.content .heading-div h2{
    font-family: var(--text-font);
    font-size: 16px;
    font-weight: 500;
    color: var(--black);
    padding: 0;
}
.content p{
    padding-left: 28px;
    color: rgba(0,0,0,0.5);
    font-family: var(--text-font);
    font-size: 13px;
    font-weight: 300;
    margin: 0;
}

/* ===== projects right div ===== */
#projects-right-div{
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;
    border: none;
    padding: 40px;
    border-radius: 12px;
    height: 250px;
    transition: all ease-in-out 0.3s;
}

#projects-right-div:hover{
    transform: translateY(4px);
}
#projects-right-div h2{
    font-family: var(--heading-font);
    font-size: 30px;
    font-weight: 300;
    color: var(--white);
    margin: 0;
}

#projects-right-div p{
    font-family: var(--text-font);
    font-size: 14px;
    font-weight: 300;
    color: rgba(255,255,255,0.7);
    margin-bottom: 0;
}

.secondary-btn{
    font-family: var(--text-font);
    font-size: 16px;
    padding: 16px 24px;
    border: 1px solid var(--silver);
    border-radius: 12px;
    color: var(--white);
    background-color: transparent;
    cursor: pointer;
    margin-top: 20px;
    transition: all ease-in-out 0.3s;
}

.secondary-btn:hover{
    transform: scale(1.05);
}

.secondary-btn:focus{
    outline: 1px solid var(--lime);
    outline-offset: 2px;
}

/* ================== help dropdown ==================== */
#help-menu-dd{
    background-color: var(--white);
    position: absolute;
    padding: 10px 15px;
    z-index: 999;
    display: none;
    flex-direction: column;
    gap: 10px;
    top: 71px;
    left: 345px;
    border: none;
    border-radius: 12px;
    transition: all ease-in-out 0.1s;

}

#help-menu-dd div{
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
    align-items: center;
    margin: 0;
    gap: 5px;
    border: none;
    border-radius: 12px;
    padding-right: 5px;
    transition: all ease-in-out 0.3s;
    cursor: pointer;
}
#help-menu-dd div:hover{
    background-color: rgba(130, 230, 40, 0.2);
}


#help-menu-dd div p{
    font-family: var(--text-font);
    font-size: 14px;
    margin: 10px;
}




/* ================== media screens ==================== */

/* Tablet */
@media screen and (max-width: 991px){

    #navLinks{
        display: none;
    }
    #menu-icon{
        display: flex;
    }
}

/* Mobile */
@media screen and (max-width: 478px){

    #navLinks{
        display: none;
    }
    #menu-icon{
        display: flex;
    }
    #sideBar{
        width: 100%;
    }
}


